*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f5f5f5;
}

.container{
    width:100%;
    max-width:900px;
    margin:auto;
    padding:15px;
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.video{
    margin-bottom:30px;
}

/* Responsive iframe */
.video iframe{
    width:100%;
    aspect-ratio:16/9;
    border:none;
    border-radius:10px;
    height: 100px;
}

/* Mobile */
@media (max-width:576px){

    .container{
        padding:10px;
    }

    h1{
        font-size:24px;
    }

}
